node_modules
vendor
.git
.env
.env.backup
old_docs
mysql.sql
magicqc.sql
__pycache__
python/__pycache__
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.idea
.vscode
*.md
!README.md
tests
